
body {
    background-color: black
    ;

    color: white;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    letter-spacing: 2px;
}

.profile-picture {
display: block;
margin-left: auto;
margin-right: auto;

margin-top: 10%;
height: auto;
max-width: 200px;
}

.description {
    text-align: justify;
    margin-top: 20px;
   
    padding: 20px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 16;
    }

.subtitle {
    text-align: center;
    margin-top: 20px;
    
    padding: 20px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16;
        }

    .links {
        text-align: center;
        margin-top: 20px;
        border: 1px solid rgb(252, 0, 252);
        border-width: 1px;
        padding: 20px;

        width: 290px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        border-radius: 0px;

        font-size: 18px;
    }

    a {
        text-decoration: none;

        color: white;
        transition: color 1s;
    }

    a:hover {
        
        color: whitesmoke;
        background-color: rgb(252, 0, 252);
    }

    Footer © 2022 GitHub,
    Inc. Footer navigation
    