html {box-sizing: border-box;
font-size: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: 'DDINExpRegular';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
    min-height: 100vh;
    text-align: center;

}


.profile {
display: block;
margin-top: 10%;
height: auto;
max-width: 200px;
cursor: pointer;
transition: 0.6s ease-in-out;
margin-left: auto;
margin-right: auto;

}

.profile:hover {
    transform: scale(1.4);}


h2 {
    display: block;
    padding: 10px;
    width: 310px;
    margin: 0 auto 15px auto;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
        }

h3 {
    display: block;
    margin-top: 10px;
    
    padding: 2px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;}


    
h4 {
    display: block;
    padding: 2px;
    width: 310px;
    margin: 0 auto 15px auto;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.flyer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    max-width: 200px;
    -webkit-transition: -webkit-transform 3s;
   
}
  
.flyer:hover {
    -webkit-transform: rotate(360deg) translate(0);
}
   


a {
        display: block;
        text-align: center;
        border: 1px solid rgb(252, 0, 252);
        border-width: 2px;
        padding: 12px 20px;
        margin: 0 auto 15px auto;
        border-radius: 0px;
        font-size: 22px;
        max-width: 310px;
        text-decoration: none;
        color: white;
        transition: color 1s;
        }
        
   
 a:hover {
        
        color: black;
        background-color: rgb(252, 0, 252);
    }

   
.link2 {
    text-align: center;
    font-size: 14px;
    max-width: 310px;
    text-decoration: none;
    color: white;
    border-width: 0px;
  

   
}

.redes {
   
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-transform: uppercase;
    max-width: 310px;
    display: flex;
    
    a {flex: 1;
    }
        
            
               
                

    
